body {
    background-color: #181a1b;
    color: white;
    padding-bottom: 200px;
}

h1 {
    color: #F7941D;
}

a {
    color: #0066a4;
}

a:visited {
    color: #9c09a1;
}

button a {
    text-decoration: none;
    color: black;
}

button a:visited {
    color: black;
}

button[form="commande"] {
    margin-left: 20px;
    margin-top: 20px;
}

fieldset {
    display: inline;
    border-radius: 5px;
    border-color: #F7941D ;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

table,th, td {
    border: 2px solid #F7941D;
}

th, td {
    padding: 5px;
}

.erreur {
    display: inline;
    padding: 3px;
    color: red;
}

.succes {
    display: inline;
    color: darkgreen;
}

.txtcenter {
    text-align: center;
}

.margin_left {
    margin-left: 20px;
}

.margin_top {
    margin-top: 20px;
}

#main_menu fieldset > fieldset {
    margin-bottom: 0px;
}

#main_menu a {
    padding-right: 20px;
}

#main_menu button a {
    padding-right: 0px;
}

#tableau-commande {
    margin-left: 50%;
}
