body {
    background-color: #181a1b;
    color: white;
    width: 100%;
    margin: auto;
}

h1 {
    color: #F7941D;
}

a {
    color: #0066a4;
}

a:hover {
    color: #F7941D;
}

a:visited {
    color: #9c09a1;
}

a:visited:hover {
    color: #F7941D;
}

button a {
    text-decoration: none;
    color: black;
}

button a:visited {
    color: black;
}

button[form="commande"] {
    margin-left: 20px;
    margin-top: 20px;
}

fieldset {
    display: inline;
    border-radius: 5px;
    border-color: #F7941D ;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

table,th, td {
    border: 2px solid #F7941D;
}

th, td {
    padding: 5px;
}

section, main {
    width: max-content;
    display: block;
    margin: auto;
}

.logo {
    display: block;
    width: 150px;
    margin: auto;
}

.erreur {
    display: inline;
    padding: 3px;
    color: red;
}

.succes {
    display: inline;
    color: darkgreen;
}

.txtcenter {
    text-align: center;
}

.margin_left {
    margin-left: 20px;
}

.margin_top {
    margin-top: 20px;
}

.pagination {
    text-align: center;
}

#main_menu fieldset > fieldset {
    margin-bottom: 0px;
}

#main_menu a {
    padding-right: 20px;
}

#main_menu button a {
    padding-right: 0px;
}

#tableau-commande {
    border: solid #F7941D 2px;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 890px) {
    section, main {
        margin-right: 15%;
    }
}

@media screen and (max-width: 830px) {
    section, main {
        margin-right: 10%;
    }
}

@media screen and (max-width: 780px) {
    section, main {
        margin-right: 5%;
    }
}

@media screen and (max-width: 740px) {
    section, main {
        margin-right: 10px;
    }
}